
@{
    ViewData["Title"] = "Products";
    ViewData["Name"] = "Productos";
}

<!-- Datatables -->
<link href="~/lib/datatable/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/lib/datatable/datatables-responsive/css/responsive.bootstrap4.css" rel="stylesheet" />

<!-- Content Header (Page header) -->
<div class="content-header" id="products">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewData["Name"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active">@ViewData["Name"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    @*<div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                        <button type="button" class="btn btn-block btn-primary"><i class="fas fa-edit"></i> Nuevo</button>
                    </div>*@
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3">
                            <i class="fas fa-edit"></i> Listado
                        </h3>
                        <div class="ml-auto p-2">
                            <button class="btn btn-block btn-primary">
                                <i class="fas fa-edit"></i> Nuevo
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="table-Products" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->

@section Scripts{
    <!-- Datatables -->
    <script src="~/lib/datatable/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/datatable/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatable/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/lib/datatable/datatables-responsive/js/responsive.bootstrap4.js"></script>

    <script src="~/js/controller/Products/Index.js"></script>
    <script>

        var self = new Product({ message: 'Complete los datos para iniciar', tableId: 'table-Products' });

        ko.applyBindings(self, document.getElementById('products'));

    </script>
}